---
import Layout from "../layouts/Layout.astro";
import Page from "../components/React/Page";
---

<Layout title="Machine Learning Playground">
  <main class="min-h-screen bg-base-100 pt-16">
    <Page client:load />
  </main>
</Layout>

<style>
  main {
    margin: 0;
    padding: 0;
    width: 100%;
  }
</style>
