---
import Layout from "../layouts/Layout.astro";
import Pollinate from "../components/React/Pollinate";
---

<Layout title="Machine Learning Playground">
  <main class="min-h-screen bg-gray-900">
    <Pollinate client:load />
  </main>
</Layout>

<style>
  main {
    margin: 0;
    padding: 0;
    width: 100%;
  }
</style>
