---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/React/Hero.tsx";
import Calculator from "../components/React/Calculator";
---

<Layout
  title="React + Astro"
  primaryBallColor="#61DAFB"
  secondaryBallColor="#282c34"
>
  <main>
    <script src="https://cdn.geogebra.org/apps/deployggb.js"></script>
    <div id="applet_container"></div>
  </main>
</Layout>

<script type="javascript">
  window.addEventListener("load", function () {
    const parameters = {
      id: "ggbApplet",
      width: 800,
      height: 600,
      showToolBar: true,
      showAlgebraInput: true,
      showMenuBar: true,
    };

    const applet = new GGBApplet(parameters, true);
    applet.inject("applet_container");
  });
</script>

