---
import Layout from "../layouts/Layout.astro";
import Chat from "../components/React/Chat";
---

<Layout
  title="Chat with the Akash Blockchain"
  primaryBallColor="#61DAFB"
  secondaryBallColor="#282c34"
>
  <main>
    <Chat client:only="react" />
  </main>
</Layout>
