---
import Layout from '../layouts/Layout.astro';
import { RemixTabsComponent } from '../components/Remix/RemixTabs';
---

<Layout title="Remix Demo">
  <main>
    <h1>Welcome to <span class="text-gradient">Remix</span> in Astro</h1>
    <div class="instructions">
      <RemixTabsComponent client:load />
    </div>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    margin-bottom: 2rem;
    border: 1px solid rgba(var(--accent-light), 25%);
    background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
    padding: 1.5rem;
    border-radius: 8px;
  }
</style>