---
import Layout from "../layouts/Layout.astro";
import * as resume from './posts/resume.md';
const posts = Object.values(import.meta.glob('./posts/*.md', { eager: true }));
---

<Layout 
title="Resume" 
primaryBallColor="#61DAFB"  
secondaryBallColor="#282c34" 
>
  <main>
    <p>{resume.frontmatter.title}</p>
    <p>Written by: {resume.frontmatter.author}</p>

    <p>Post Archive:</p>
    <ul>
      {posts.map(post => <li><a href={post.url}>{post.frontmatter.title}</a></li>)}
    </ul>
  </main>
</Layout>