---
import Layout from "../layouts/Layout.astro";
import MathTools from "../components/Svelte/MathTools.svelte";
import TodoTools from "../components/Svelte/TodoTools.svelte";
---

<Layout 
  title="Svelte + Astro"
  primaryBallColor="#FF3E00"  
  secondaryBallColor="#FF5D01"  
>
  <main>
    <MathTools client:only="svelte" />
    <TodoTools client:only="svelte" />
  </main>
</Layout>
